name: onboarding_frontend
description: Onboarding platform frontend (Flutter Web) - mock mode
publish_to: 'none'
version: 0.0.1
environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  go_router: ^7.0.0
  http: ^0.13.0
  shared_preferences: ^2.0.0
  google_fonts: ^4.0.4
  flutter_svg: ^1.1.0
  flutter_colorpicker: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
